.password-strength-meter {
    text-align: left;
    display: flex;
    align-items: center;
    margin-top: 24px;
  }
  
  .password-strength-meter-progress {
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 8px;
  }
  
  .password-strength-meter-progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 3px;
  }
  
  .password-strength-meter-label {
    font-size: 14px !important;
    margin-bottom: 0px !important;
    margin-left: 23px;
    font-weight: 500;
    color: #A0A4B3 !important;
  }
  
  .password-strength-meter-progress::-webkit-progress-value {
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
  }
  
  .strength-fraca::-webkit-progress-value {
    background-color: #DE1818;
  }
  .strength-justa::-webkit-progress-value {
    background-color: #FFE066;
  }
  .strength-boa::-webkit-progress-value {
    background-color: #247BA0;
  }
  .strength-forte::-webkit-progress-value {
    background-color: #70C1B3;
  }