* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    list-style: none;
    border: none;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-family: 'Inter';
}

button {
    background-color: transparent;
    cursor: pointer;
}

img {
    display: block;
}

input {
    appearance: none;
}

ul {
    margin-bottom: 0 !important;
}