.banner-promocao {
    .area-img {
        overflow: hidden;
        width: 100%;
        height: 215px;
        background-size: contain;
        background-color: #ffffff;
        display: block;
    }
    @media(max-width: 1200px) {
        .area-img {
            margin-top: 40px;
            background-color: transparent;
            background-size: 895px;
            height: 135px;
            overflow: hidden;
        }
    }
    @media(max-width: 480px) {
        .area-img {
            background-size: 830px;
            background-position-x: 21%;
            height: 122px;
            margin-top: 20px;
        }
    }
}