footer {
    padding-bottom: 50px;
    .area-primaria {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 70px;
        padding-bottom: 85px;
        .esq {
            .atendimento {
                display: flex;
                margin-bottom: 40px;
                img {
                    margin-right: 17px;
                }
                .info {
                    max-width: 310px;
                    span {
                        display: block;
                        font-size: 14px;
                        line-height: 20px;
                        color: #646981;
                    }
                    a {
                        font-weight: bold;
                        font-size: 36px;
                        line-height: 40px;
                        color: #363843
                    }
                }
            }
            .facebook {
                border-radius: 8px;
                overflow: hidden;
            }
        }
        nav {
            display: flex;
            align-items: flex-end;
            .item {
                margin-left: 100px;
                &:first-child {
                    margin-left: 0px;
                }
                &:last-child {
                    margin-bottom: 40px;
                }
                h3 {
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 26px;
                    color: #363843;
                    margin-bottom: 25px;
                }
                ul {
                    li {
                        margin-bottom: 22px;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                        a {
                            font-size: 14px;
                            color: #646981;
                        }
                    }
                }
            }
        }
    }
    .area-secundaria {
        border-top: 1px solid #E8E8E8;
        padding-top: 29px;
        .cont-geral {
            margin-bottom: 36px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .esq {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: 1;
            margin-right: 97px;
            .item {
                ul {
                    margin-bottom: 0px;
                }
                &:first-child {
                    margin-left: 0px;
                }
                &:nth-child(2) {
                    ul {
                        li {
                            margin-left: 70px;
                        }
                    }
                }
                span {
                    display: block;
                    margin-bottom: 16px;
                    font-size: 14px;
                    line-height: 20px;
                    color: #646981;
                }
                ul {
                    display: flex;
                    align-items: center;
                    li {
                        margin-left: 18px;
                        &:first-child {
                            margin-left: 0px;
                        }
                    }
                }
            }
        }
        .dev {
            display: flex;
            align-items: center;
            ul {
                display: flex;
                align-items: center;
                li {
                    &:first-child {
                        padding-right: 20px;
                        margin-right: 18px;
                        border-right: 1px solid rgba(27, 78, 141, 0.3);
                    }
                }
            }
        }
        p {
            max-width: 100%;
            margin: 0 auto;
            color: #A0A4B3;
            font-size: 13px;
            line-height: 20px;
        }
    }
    .area-compra {
        border-top: 1px solid #E8E8E8;
        padding-top: 29px;
        .cont-geral {
            margin-bottom: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .esq {
            display: flex;
            align-items: flex-start;
            width: 100%;
            justify-content: space-between;
            .item {
                span {
                    display: block;
                    margin-bottom: 16px;
                    font-size: 14px;
                    line-height: 20px;
                    color: #646981;
                }
                ul {
                    display: flex;
                    align-items: center;
                    li {
                        margin-left: 18px;
                        &:first-child {
                            margin-left: 0px;
                        }
                    }
                }
                .telefone-contato{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        margin-right: 30px;
                    }
                    .telefone{
                        .topo{
                            h2{
                                font: normal 600 14px/17px 'Inter';
                                letter-spacing: -0.1px;
                                color: #646981;
                                margin-bottom: 3px;
                            }
                        }
                        .info{
                            a{
                                font: normal bold 24px/29px 'Inter';
                                letter-spacing: -0.171429px;
                                color: #363843;
                                margin-bottom: 6px;
                            }
                            p{
                                font: normal normal 13px/16px 'Inter';
                                letter-spacing: -0.0928571px;
                                color: #646981;
                            }
                        }
                    }
                }
            }
        }
        .dev {
            display: flex;
            align-items: center;
            ul {
                display: flex;
                align-items: center;
                li {
                    &:first-child {
                        padding-right: 20px;
                        margin-right: 18px;
                        border-right: 1px solid rgba(27, 78, 141, 0.3);
                    }
                }
            }
        }
        p {
            max-width: 1200px;
            margin: 0 auto;
            color: #A0A4B3;
            font-size: 13px;
            line-height: 20px;
        }
    }
    @media(max-width: 1200px) {
        .area-primaria {
            padding: 40px 0px;
            flex-direction: column;
            .esq {
                width: 100%;
                margin-bottom: 40px;
            }
        }
        .area-secundaria {
            padding-top: 40px;
            .cont-geral {
                flex-direction: column;
                align-items: flex-start;
            }
            .esq {
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 40px;
                .item {
                    margin-left: 0;
                    margin-bottom: 30px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                }
            }
        }
        .area-compra {
            .cont-geral {
                margin-bottom: 0;
            }
            .esq {
                flex-direction: column;
                align-items: center;
                .item {
                    margin-left: 0px;
                    margin-bottom: 40px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
    @media(max-width: 480px) {
        .area-primaria {
            .esq {
                width: 100%;
                .atendimento {
                    align-items: flex-start;
                    margin-bottom: 30px;
                    img {
                        margin-top: 15px;
                    }
                    .info {
                        max-width: 210px;
                        a {
                            font-size: 24px;
                            line-height: 40px;
                        }
                        span {
                            font-size: 12px;
                        }
                    }
                }
            }
            nav {
                flex-wrap: wrap;
                align-items: flex-start;
                .item {
                    margin-left: 0;
                    width: 50%;
                    &:last-child {
                        margin-bottom: 0;
                        margin-top: 22px;
                    }
                    h3 {
                        font-size: 18px;
                        line-height: 26px;
                        margin-bottom: 12px;
                    }
                    ul {
                        li {
                            a {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
        .area-secundaria {
            .esq {
                margin-right: 0;
                width: 100%;
                .item {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    &:nth-child(2) {
                        ul {
                            width: 100%;
                            justify-content: space-between;
                            li {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
            .dev {
                width: 100%;
                justify-content: center;
            }
        }
    }
}