.container {
    width: 1310px;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
    @media(max-width: 1300px) {
        width: 1200px;
    }
    @media(max-width: 1200px) {
        width: 100%;
    }
}