
.menu-button {
    display: block;
    width: 20px;
    padding: 8px 0;
    cursor: pointer;
    transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
    .menu-icon {
        width: 20px;
        height: 2px;
        background-color: #ffffff;
        display: block;
        position: relative;
        transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
        &:before,
        &:after {
            content: '';
            display: block;
            height: 2px;
            background-color: #ffffff;
            position: absolute;
            right: 0;
            border-radius: 30px;
            transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
        }
        &:before {
            margin-top: -6px;
            width: 20px;
            transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
        }
        &:after {
            margin-top: 6px;
            width: 15px;
            transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
        }
    }
    @media(max-width: 480px) {
        .menu-icon {
            width: 30px;
            &:before,
            &:after {
                width: 30px;
                &:before {
                    margin-top: -8px;
                }
                &:after {
                    margin-top: 8px;
                }
            }
        }
    }
}

.menu-opened {
    .menu-icon {
        height: 0;
        width: 20px;
        transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
        &:after {
            width: 20px;
            transform: rotate(45deg);
            margin-top: 0;
            transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
        }
        &:before {
            transform: rotate(-45deg);
            margin-top: 0;
            transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
        }
    }
}