.s-categoria {
    width: 100%;
    height: 48px;
    margin-top: 114px;
    .container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .btn {
        display: flex;
        align-items: center;
        height: 48px;
        padding-right: 77px;
        border-right: 1px solid #E8E8E8;   
        background-color: transparent; 
        img {
            margin-right: 24px;
        }
        span {
            color: #363843;
            font-size: 14px;
        }
    }
    nav {
        ul {
            display: flex;
            align-items: center;
            margin-bottom: 0;
            li {
                margin-left: 70px;
                &:first-child {
                    margin-left: 0px;
                }
                a {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    color: #363843;
                    img {
                        margin-right: 11px;
                    }
                }
            }
        }
    }
    .dropdown-categoria {
        position: absolute;
        top: 40px;
        width: calc(100% - 30px);
        height: 463px;
        left: 15px;
        background-color: #ffffff;
        z-index: 5;
        box-shadow: 0px 8px 25px rgba(166, 166, 166, 0.2);
        border-radius: 0px 0px 6px 6px;
        display: grid;
        grid-template-columns: 236px 1fr;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
        transition: all .3s;
        &.active {
            top: 48px;
            opacity: 1;
            pointer-events: all;
            transition: all .3s;
        }
        .esq {
            border-right: 1px solid #E8E8E8;
            padding: 17px 0px 17px 0px;
            ul {
                li {
                    margin-bottom: 3px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    button {
                        width: 100%;
                        padding-left: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 13px;
                        color: #646981;
                        letter-spacing: -0.114286px;
                        line-height: 33px;
                        padding-right: 16px;
                        background-color: transparent;
                        transition: all .3s;
                        &:hover {
                            background-color: #F2F2F2;
                            transition: all .3s;
                        }
                    }
                }
            }
        }
        .dir {
            .cont-categoria {
                .info {
                    max-width: 533px;
                    padding-left: 46px;
                    padding-top: 23px;
                    h2 {
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 22px;
                        letter-spacing: -0.114286px;
                        color: #515568;
                    }
                    .all {
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                        margin-top: 18px;
                        h3 {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 17px;
                            letter-spacing: -0.114286px;
                            color: #515568
                        }
                        ul {
                            margin-bottom: 25px;
                            &:last-child {
                                margin-bottom: 0px;
                            }
                            li {
                                margin-bottom: 11px;
                                &:last-child {
                                    margin-bottom: 0px;
                                }
                                a {
                                    font-size: 13px;
                                    color: -0.114286px;
                                    color: #646981
                                }
                            }
                        }
                    }
                }
                .banner-produto {
                    position: absolute;
                    top: 0;
                    right: 0;
                    max-width: 341px;
                    border-radius: 0px 0px 6px 0px;
                    overflow: hidden;
                    display: block;
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }
    @media(max-width: 1200px) {
        display: none;
    }
}

.s-banner {
    position: relative;
    overflow: hidden;
    .btn {
        position: absolute;
        z-index: 2;
        top: 50%;
        margin-top: -24px;
        cursor: pointer;
        transform: scale(1);
        transition: all .4s;
        &:hover {
            transform: scale(1.05);
            transition: all .4s;
        }
        &.swiper-button-disabled {
            opacity: 0.5;
            pointer-events: none;
        }

        &#btn-next-banner {
            right: 273px;
        }
        &#btn-prev-banner {
            left: 273px;
        }
    }
    .swiper-slide {
        width: 100%;
        height: 472px;
        transform: scale(1);
        transition: all .4s;
        &:hover {
            transform: scale(1.02);
            transition: all .4s;
        }
        &.slide-01 {
            background: url('../images/banner.jpg') no-repeat center center;
        }
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .ctrl-slide {
        position: absolute;
        left: 0;
        bottom: 48px;
        z-index: 1;
        width: 100%;
        .container {
            display: flex;
            justify-content: flex-end;
        }
        .swiper-pagination {
            position: relative;
            bottom: 0;
            .swiper-pagination-bullet {
                margin: 0px 6.5px;
                background-color: #FFF;
                opacity: 0.4;
                transition: all .3s;
                &.swiper-pagination-bullet-active {
                    opacity: 1;
                    background-color: #fff;
                    transition: all .3s;
                }
            }
        }
    }
    @media (max-width: 1440px) {
        .btn{
            &#btn-next-banner {
                right: 73px;
            }
            &#btn-prev-banner {
                left: 73px;
            }
        }
    }
    @media(max-width: 1200px) {
        margin-top: 150px;
        .swiper-wrapper {
            margin-bottom: 23px;
        }
        .swiper-slide {
            background-size: 1200px !important;
            height: 293px;
        }
        .btn {
            display: none;
        }
        .ctrl-slide {
            position: relative;
            bottom: 0;
            margin: 0;
            .container {
                justify-content: center;
            }
            .swiper-pagination {
                .swiper-pagination-bullet {
                    background-color: #7C7C7C;
                }
            }
        }
    }
    @media(max-width: 480px) {
        margin-top: 125px;
        .slide-fullbanner {
            overflow: hidden;
            height: 259px;
        }
        .ctrl-slide {
            margin-top: 15px;
            .swiper-pagination-bullet {
                background-color: #7C7C7C;
                opacity: 0.4;
                &.swiper-pagination-bullet-active {
                    background-color: #1B4E8D;
                }
            }
        }
        .swiper-wrapper {
            margin-bottom: 15px;
        }
        .swiper-slide {
            background-size: cover !important;
            height: 259px;
        }
    }
}

.s-produtos {
    background-color: #F6F6F6;
    padding: 35px 0px;
    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 38px;
        h2 {
            font-weight: bold;
            font-size: 32px;
            line-height: 37px;
            text-align: center;
            color: #363843;
            margin-bottom: 13px;
        }
        p {
            font-size: 16px;
            line-height: 23px;
            color: #646981;
            margin-bottom: 0;
        }
    }
    .area-slide {
        position: relative;
        .carrousel-produtos {
            padding-top: 10px;
            overflow: hidden;
        }
        .btn {
            position: absolute;
            width: 42px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            top: 190px;
            z-index: 2;
            background-color: #ffffff;
            &.btn-prev {
                left: -68px;
                transform: rotate(180deg);
            }
            &.btn-next {
                right: -68px;
            }
        }
        .swiper-pagination {
            position: relative;
            bottom: 0;
            margin-top: 37px;
            .swiper-pagination-bullet {
                background-color: #A0A4B3;
                opacity: 0.3;
                transition: all .3s;
                &.swiper-pagination-bullet-active {
                    background-color: #1B4E8D;
                    opacity: 1;
                    transition: all .3s;
                }
            }
        }
    }
    @media(max-width: 1200px) {
        .container {
            padding: 0;
        }
        .area-slide {
            .carrousel-produtos {
                padding: 0px 15px;
            }
            .btn {
                display: none;
            }
        }
    }
    @media(max-width: 480px) {
        padding: 30px 0px;
        .title {
            margin-bottom: 40px;
            h2 {
                font-size: 24px;
                line-height: 32px;
                max-width: 250px;
            }
            p {
                font-size: 14px;
                line-height: 1;
            }
        }
    }
}

.s-promocoes-boxes {
    padding-top: 30px;
    padding-bottom: 90px;
    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 33px;
        h2 {
            font-weight: bold;
            font-size: 32px;
            line-height: 37px;
            color: #363843;
            margin-bottom: 13px;
        }
        p {
            font-size: 16px;
            line-height: 23px;
            color: #646981;
            margin-bottom: 0;
        }
    }
    .all {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .box {
        width: 405px;
        height: 417px;
        border-radius: 10px;
        overflow: hidden;
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    @media(max-width: 480px) {
        padding: 30px 0px;
        .title {
            h2 {
                text-align: center;
                font-size: 24px;
                line-height: 37px;
                margin-bottom: 6px;
            }
        }
        .container {
            padding: 0px;
        }
        .responsive {
            width: 100%;
            overflow-x: auto;
            padding: 0px 20px;
        }
        .all {
            width: 900px;
            justify-content: space-between;
            padding-bottom: 20px;
        }
        .box {
            width: 280px;
            height: 290px;
            margin-bottom: 0;
            background-size: 100% !important;
            margin-right: 20px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}

.s-departamento {
    padding-top: 61px;
    padding-bottom: 55px;
    .title {
        margin-bottom: 35px;
    }
    .area-slide {
        position: relative;
        .slide-departamentos {
            overflow: hidden;
        }
        .btn {
            position: absolute;
            top: 50%;
            margin-top: -7px;
            z-index: 3;
            background-color: transparent;
            &.btn-next {
                right: -57px;
            }
            &.btn-prev {
                left: -57px;
                transform: rotate(180deg);
            }
        }
    }
    @media(max-width: 1200px) {
        padding: 40px 0px;
        .container {
            grid-template-columns: 1fr;
            grid-gap: 20px;
        }
    }
    @media(max-width: 480px) {
        .container {
            padding: 0px;
        }
        .text-title {
            font-size: 24px;
            max-width: 290px;
            line-height: 32px;
            margin: 0 auto;
            margin-bottom: 16px;
        }
        p {
            font-size: 16px;
            line-height: 23px;
            max-width: 241px;
            margin: 0 auto;
        }
        .area-slide {
            .slide-departamentos {
                padding: 0px 15px;
            }
            .btn {
                display: none;
            }
        }
    }
}

.s-servicos {
    padding-top: 55px;
    padding-bottom: 45px;
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
    }
    .texto {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        margin-top: 85px;
        h2 {
            color: #363843;
            font-size: 32px;
            line-height: 37px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        p {
            max-width: 312px;
            font-size: 15px;
            line-height: 24px;
            display: flex;
            align-items: flex-end;
            color: #646981;
            margin-bottom: 70px;
        }
        .box-servicos {
            .foto {
                height: auto;
            }
            .info {
                .icone {
                    margin-right: 23px;
                }
                .text {
                    max-width: 233px;
                    p {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
    .txt-mobile {
        margin-bottom: 20px;
        display: none;
        h2 {
            text-align: center;
            color: #363843;
            font-size: 24px;
            line-height: 32px;
            font-weight: bold;
            margin-bottom: 8px;
        }
        p {
            text-align: center;
            font-size: 14px;
            line-height: 24px;
            color: #646981;
            max-width: 240px;
            margin: 0 auto;
        }
    }
    @media(max-width: 1200px) {
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .texto {
            width: 100%;
            margin-top: 0px;
            h2 {
                text-align: center;
                display: none;
            }
            p {
                text-align: center;
                max-width: 80%;
                margin: 0 auto;
                margin-bottom: 20px;
                display: none;
            }
        }
    }
    @media(max-width: 480px) {
        padding-top: 20px;
        padding-bottom: 20px;
        .txt-mobile {
            display: block;
        }
        .responsive {
            width: 100%;
            overflow-x: auto;
            padding-bottom: 20px;
        }
        .container {
            flex-direction: row;
            width: 1560px;
        }
        .texto {
            .box-servicos {
                width: 100%;
                width: 293px;
                height: 385px;
                margin-bottom: 0;
                .foto {
                    height: 276px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 300px;
                        max-width: initial;
                    }
                }
                .info {
                    .text {
                        p {
                            display: block;
                        }
                    }
                }
            }
        }
        .box-servicos {
            margin-right: 16px;
            margin-bottom: 0;
            .foto {
                img {
                    width: 400px;
                    max-width: initial;
                }
            }
        }
    }
}

.s-loja {
    padding-top: 55px;
    padding-bottom: 65px;
    .title {
        margin-bottom: 33px;
    }
    .area-slide {
        position: relative;
        .slide-lojas {
            overflow: hidden;
        }
        .btn {
            position: absolute;
            top: 50%;
            z-index: 5;
            margin-top: -40px;
            background-color: transparent;
            cursor: pointer;
            &.btn-prev {
                left: -56px;
                transform: rotate(180deg);
            }
            &.btn-next {
                right: -56px;
            }
        }
    }
    @media(max-width: 1200px) {
        padding-top: 0;
        padding-bottom: 40px;
    }
    @media(max-width: 480px) {
        .container {
            padding: 0;
        }
        .text-title {
            font-size: 24px;
            line-height: 32px;
            max-width: 302px;
            margin: 0 auto;
            margin-bottom: 15px;
        }
        .text-subtitle {
            font-size: 14px;
            max-width: 229px;
            margin: 0 auto;
        }
        .area-slide {
            .slide-lojas {
                padding: 0px 15px;
            }
            .btn {
                display: none;
            }
        }
    }
}

.s-info-entrega {
    overflow: hidden;
    position: relative;
    background: linear-gradient(85.36deg, #5C33FF 3.91%, #3399FF 98.18%);
    width: 100%;
    height: 105px;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 156px;
        background: url("../images/escrito-gazin.svg") no-repeat center center;
        width: 504px;
        height: 113px;
    }
    .container {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .icone {
        width: 52px;
        height: 52px;
        background: #FFFFFF;
        box-shadow: 2px 5px 12px rgba(22, 24, 41, 0.13);
        border-radius: 50%;
        @include elemento_no_centro(column);
        margin-right: 36px;
    }
    p {
        font-size: 24px;
        line-height: 20px;
        color: #FFFFFF;
        strong {
            font-size: 24px;
            line-height: 20px;
            color: #FFFFFF;
        }
    }
    @media(max-width: 1200px) {
        height: auto;
        padding: 22px 0px;
        .container {
            justify-content: center;
        }
        p {
            line-height: 35px;
            max-width: 80%;
        }
    }
    @media(max-width: 480px) {
        &:after {
            display: none;
        }
        .icone {
            margin-right: 26px;
            width: 60px;
            height: 60px;
        }
        p {
            max-width: 255px;
            font-size: 14px;
            line-height: 20px;
            strong {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}

.s-info-pagamento-oferta {
    width: 100%;
    height: 84px;
    border-bottom: 1px solid #E8E8E8;
    .container {
        display: flex;
        align-items: center;
        height: 100%;
    }
    ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        li {
            display: flex;
            align-items: center;
            img {
                max-width: 31px;
                margin-right: 13px;
            }
            span {
                font-size: 16px;
                line-height: 19px;
                color: #363843;
                display: flex;
                align-items: center;
                a {
                    display: flex;
                    align-items: center;
                    margin-left: 5px;
                    color: #0D71F0;
                    font-weight: bold;
                    img {
                        margin-left: 17px;
                    }
                }
            }
        }
    }
    @media(max-width: 1200px) {
        height: auto;
        padding: 40px 0px;
        ul {
            flex-direction: column;
            align-items: center;
            li {
                margin-bottom: 40px;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
    @media(max-width: 480px) {
        ul {
            padding-left: 40px;
            align-items: flex-start;
            li {
                span {
                    font-size: 14px;
                }   
                &:last-child {
                    span {
                        display: block;
                        text-align: left;
                        a {
                            margin: 0;
                            font-size: 14px;
                            img {
                                margin-left: 10px;
                                margin-right: 0;
                                max-width: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.banner-promocao {
    margin-bottom: 38px;
}

.s-lista-produtos {
    padding-bottom: 63px;
    .fav-prod{
        padding-left: 150px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 32px;
        grid-row-gap: 56px;
        margin-bottom: 66px;
        transition: all .3s;
    }
    .box-categorias-fav{
        position: relative;
        .top-border{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background: linear-gradient(34.59deg, #5C33FF 3.48%, #3399FF 98.17%);
        }
        padding: 28px 45px;
        h4{
            font-family:normal 600 16px/23px 'Inter';
            color: #646981;
            margin-bottom: 18px;
        }
        ul{
            li{
                margin-bottom: 19px;
                font:normal normal 14px/15px 'Inter';
                color: #646981;
            }
            .active-categoria{
                color: #0C64D3 !important;
            }
        }
        width: 327px;
        height: 259px;
        background: #F6F6F8;
    }
    .container {
        display: grid;
        grid-template-columns: 185px 1fr;
        grid-column-gap: 63px;
        align-items: flex-start;
    }
    .filtros {
        .item {
            margin-bottom: 45px;
            &:last-child {
                margin-bottom: 0px;;
            }
            h3 {
                font-weight: bold;
                font-size: 16px;
                line-height: 19px;
                color: #363843;
                margin-bottom: 11px;
            }
            ul {
                li {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 17px;
                    a {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font: normal 500 14px/24px 'Inter';
                        color: #646981;
                    }
                    span {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        color: #A0A4B3;
                    }
                    .nota {
                        display: flex;
                        cursor: pointer;
                        &.active {
                            span {
                                &.feat {
                                    color: #FFA82E;

                                    transition: all .3s;
                                }
                            }
                        }
                        span {
                            margin-left: 8px;
                            font-size: 17px;
                            color: #A0A4B3;
                            opacity: 0.2;
                            transition: all .3s;
                            &:first-child {
                                margin-left: 0px;
                            }
                            &.feat {
                                opacity: 1;
                                transition: all .3s;
                            }
                        }
                    }
                }
            }
            button {
                max-width: 100%;
                text-align: start;
                font-size: 14px;
                line-height: 24px;
                color: #0D71F0;
                background-color: transparent;
            }
        }
    }
    .all-prods {
        .topo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 32px;
            span {
                font-size: 14px;
                color: #646981;
            }
            .btn-filtro-mobile {
                display: none;
                align-items: center;
                span {
                    margin-bottom: 0px;
                    margin-left: 9px;
                    color: #0D71F0;
                    font-weight: 500;
                    font-size: 14px;
                }
            }
            .exibicao {
                display: flex;
                align-items: center;
                .view {
                    display: flex;
                    align-items: center;
                    margin-right: 31px;
                    span {
                        margin-right: 12px;
                    }
                    .dir-row{
                        flex-direction: column;
                        display: flex;
                        align-items: center;
                        &.active {
                            i {
                                &:last-child {
                                    opacity: 0.5;
                                }
                            }
                        }
                        i {
                            display: inline-block;
                            width: 18px;
                            height: 4px;
                            background-color: #656565;
                            margin-left: 3px;
                            margin-bottom: 3px;;
                            &:first-child {
                                margin-left: 3px;
                            }
                            &:last-child{
                                margin-bottom: 0;
                            }
                        }
                        
                    }
                    .dir-col{
                        flex-direction: row;
                        display: flex;
                        align-items: center;
                        &.active {
                            i {
                                &:last-child {
                                    opacity: 0.5;
                                }
                            }
                        }
                        i {
                            display: inline-block;
                            width: 4px;
                            height: 18px;
                            background-color: #656565;
                            margin-left: 3px;
                            &:first-child {
                                margin-left: 0px;
                            }
                        }
                    }
                    button {
                        display: flex;
                        align-items: center;
                        &.active {
                            i {
                                &:last-child {
                                    opacity: 0.5;
                                }
                            }
                        }
                        i {
                            display: inline-block;
                            width: 4px;
                            height: 18px;
                            background-color: #656565;
                            margin-left: 3px;
                            &:first-child {
                                margin-left: 0px;
                            }
                        }
                    }
                }
                .ordernar {
                    display: flex;
                    align-items: center;
                    span {
                        margin-right: 14px;
                    }
                    select {
                        width: 186px;
                    }
                }
            }
        }
        .all {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 32px;
            grid-row-gap: 56px;
            margin-bottom: 66px;
            transition: all .3s;
            &.column-three {
                grid-template-columns: repeat(3, 1fr);
                transition: all .3s;
            }
        }
        .paginador {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .contador {
                position: absolute;
                left: 50%;
                width: 186px;
                margin-left: -93px;
                display: flex;
                align-items: center;
                span {
                    font-size: 14px;
                    line-height: 17px;
                    color: #646981;
                }
                select {
                    margin: 0px 16px;
                    width: 64px;
                    padding: 0px 13px;
                    background-position-x: calc(100% - 9px);
                    color: #0D71F0;
                    font-weight: 600;
                }
            }
            a {
                display: flex;
                align-items: center;
                span {
                    font-size: 14px;
                    line-height: 17px;
                    color: #474B5B;
                }
                .square {
                    background-color: #FFA82E;
                    border-radius: 24px;
                    width: 36px;
                    height: 36px;
                    @include elemento_no_centro(column);
                    margin-left: 22px;
                }
            }
        }
    }
    @media(max-width: 1200px) {
        padding-bottom: 40px;
        .container {
            grid-template-columns: 1fr;
            grid-row-gap: 40px;
        }
        .filtros {
            display: none;
        }
        .all-prods {
            .all {
                padding-left: 0;
                grid-template-columns: 1fr 1fr;
            }
            .topo {
                padding-left: 0 !important;
                .btn-filtro-mobile {
                    display: flex;
                }
                .exibicao {
                    display: none;
                }
                .ordernar {
                    width: 50%;
                }
                span {
                    margin-bottom: 10px;
                    display: block;
                }
            }
            .paginador {
                a {
                    span {
                        display: none;
                    }
                }
            }
        }
        .box-categorias-fav {
            width: 100%;
            height: auto;
        }
    }
    @media(max-width: 480px) {
        .all-prods {
            .topo {
                margin-bottom: 20px;
                .ordernar {
                    width: 55%;
                }
            }
            .all {
                grid-column-gap: 20px;
                a {
                    padding: 0px;
                }
            }
        }
    }
}

.slick-next,
.slick-prev {
    display: none !important;
}