@mixin gradient($colorInit, $colorEnd) {
    background: linear-gradient(86.28deg, $colorInit -4.51%, $colorEnd 104.58%);
}
@mixin elemento_no_centro($direcao) {
    display: flex;
    flex-direction: $direcao;
    align-items: center;
    justify-content: center;
}