.text-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #363843;
    margin-bottom: 13px;
}

.text-subtitle {
    font-size: 16px;
    line-height: 23px;
    color: #646981;
    text-align: center;
}

.box-departamento {
    display: block;
    width: 100%;
    max-width: 184px;
    .foto {
        width: 100%;
        height: 208px;
        overflow: hidden;
        border-radius: 8px;
        margin-bottom: 16px;
        @include elemento_no_centro(column);
        img {
            max-width: 100%;
            transform: scale(1);
            transition: all .3s;
        }
    }
    span {
        font-size: 16px;
        line-height: 23px;
        color: #515151;
    }
    &:hover {
        .foto {
            img {
                transform: scale(1.05);
                transition: all .3s;
            }
        }
    }
    @media(max-width: 480px) {
        max-width: 100%;
        .foto {
            img {
                width: 100%;
            }
        }
    }
}

.box-servicos {
    display: block;
    width: 100%;
    &:hover {
        .foto {
            img {
                transform: scale(1.05);
                transition: all .3s;
            }
        }
    }
    .foto {
        overflow: hidden;
        height: 284px;
        width: 100%;
        border-radius: 8px 8px 0px 0px;
        img {
            max-width: 100%;
            transform: scale(1);
            transition: all .3s;
        }
    }
    .info {
        position: relative;
        z-index: 1;
        background: linear-gradient(89.74deg, #5C33FF 3.91%, #3399FF 98.18%);
        border-radius: 0px 0px 8px 8px;
        padding-left: 34px;
        padding-bottom: 15px;
        display: flex;
        align-items: flex-start;
        height: 110px;
        .icone {
            background: #FFFFFF;
            box-shadow: 0px 4px 9px rgba(26, 27, 33, 0.17);
            border-radius: 9.73438px;
            width: 78px;
            height: 78px;
            margin-right: 33px;
            @include elemento_no_centro(column);
            margin-top: -30px;
        }
        .text {
            max-width: 197px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h3 {
                font-weight: bold;
                font-size: 24px;
                line-height: 1;
                color: #FFFFFF;
                margin-bottom: 3px;
            }
            p {
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: -0.2px;
                color: #FFFFFF;
            }
        }
    }
    @media(max-width: 1200px) {
        margin-bottom: 30px;
        .foto {
            img {
                width: 100%;
            }
        }
    }
    @media(max-width: 480px) {
        width: 293px;
        height: 385px;
        .foto {
            height: 276px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .info {
            padding: 0px 14px;
            .icone {
                margin-right: 16px;
                width: 60px;
                height: 60px;
                margin-top: -20px;
                img {
                    max-width: 40px;
                }
            }
            .text {
                padding-top: 13px;
                max-width: 179px !important;
                height: auto;
                h3 {
                    text-align: left;
                    font-size: 18px;
                    line-height: 37px;
                    line-height: 22px;
                }
                p {
                    text-align: left;
                    max-width: 100%;
                    font-size: 13px;
                    margin: 0;
                }
            }
        }
    }
}

.box-lojas {
    max-width: 186px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .foto {
        position: relative;
        width: 100%;
        height: 320px;
        overflow: hidden;
        border-radius: 8px;
        .img-loja {
            max-width: 100%;
            transform: scale(1);
            transition: all .3s;
        }
        .logo {
            position: absolute;
            left: 50%;
            bottom: 43px;
            background-color: #FFFFFF;
            border-radius: 6px;
            width: 88px;
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: -44px;
            transition: all .3s;
            img {
                max-width: 100%;
            }
        }
    }
    span {
        display: block;
        font-size: 14px;
        line-height: 24px;
        color: #A0A4B3;
        margin-top: 22px;
    }
    &:hover {
        .foto {
            .img-loja {
                transform: scale(1.05);
                transition: all .3s;
            }
            .logo {
                bottom: 50px;
                transition: all .3s;
            }
        }
    }
    @media(max-width: 480px) {
        .foto {
            height: 235px;
            .logo {
                bottom: 30px;
                width: 61px;
                height: 44px;
                img {
                    max-width: 70%;
                }
            }
        }
    }
}

.s-breadcrumbs {
    border-top: 1px solid #E8E8E8;
    padding-top: 34px;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .bread {
        display: flex;
        align-items: center;
        li {
            position: relative;
            margin-left: 40px;
            &:after {
                content: "";
                background: url("../images/arrow-right-blue.svg") no-repeat center center;
                width: 5px;
                height: 10px;
                background-size: 100%;
                position: absolute;
                right: -23px;
                top: 3px;
            }
            &:first-child {
                margin-left: 0px;
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
            a {
                font-size: 14px;
                line-height: 17px;
                color: #0D71F0;
                display: block;
            }
            span {
                display: block;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #646981;
            }
        }
    }
    .social {
        display: flex;
        align-items: center;
        span {
            font-size: 14px;
            line-height: 17px;
            color: #515568;
            margin-right: 16px;
        }
        ul {
            display: flex;
            li {
                margin-left: 8px;
                a {
                    background-color: #E8EDF4;
                    border-radius: 6px;
                    width: 32px;
                    height: 32px;
                    @include elemento_no_centro(column);
                    .fa {
                        font-size: 16px;
                        line-height: 1;
                        margin: 0;
                        color: #094E99;
                    }
                }
            }
        }
    }
    @media(max-width: 1100px) {
        margin-top: 150px;
        padding-top: 22px;
        .social {
            display: none;
        }
    }
    @media(max-width: 480px) {
        margin-top: 125px;
        padding-top: 15px;
        .bread {
            li {
                margin-left: 25px;
                &:after {
                    right: -17px;
                }
                a {
                    font-size: 12px;
                }
                span {
                    font-size: 12px;
                }
            }
        }
    }
}

.check {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    color: #646981;
    &.active {
        .square {
            background: url("../images/checked.svg") no-repeat center center;
            border: 1px solid #0D71F0;
            transition: border .3s;
        }
    }
    .square {
        width: 20px;
        height: 20px;
        border: 1px solid #979797;
        border-radius: 4px;
        margin-right: 10px;
        transition: border .3s;
    }
}

select {
    width: 100%;
    height: 40px;
    appearance: none;
    border: 1px solid #DCDDE3;
    border-radius: 6px;
    padding: 0px 18px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #A0A4B3;
    background: url("../images/arrow-select.svg") no-repeat right 20px center;
}