.s-info-detalhes-prod {
    padding-top: 30px;
    padding-bottom: 49px;
    .container {
        display: flex;
        align-items: flex-start;
    }
    .area-slide-prod {
        margin-right: 105px;
        .box {
            position: relative;
            width: 514px;
            .slick-list {
                position: relative;
                width: 514px;
                height: 514px;
                background: #FFFFFF;
                box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.1);
                border-radius: 6px;
                padding-top: 38px;
                .slick-track {
                    .slick-slide {
                        opacity: 0;
                        transition: all .3s;
                        &.slick-active {
                            opacity: 1;
                            transition: all .3s;
                        }
                    }
                }
            }
            .slick-dots {
                display: flex !important;
                bottom: 0;
                position: relative;
                margin-top: 11px;
                li {
                    width: 77px;
                    height: 77px;
                    background-color: #FFFFFF;
                    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
                    border-radius: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 14px;
                    margin-left: 12px;
                    opacity: 0.5;
                    transition: all .3s;
                    &.slick-active {
                        opacity: 1;
                        transition: all .3s;
                    }
                    &:first-child {
                        margin-left: 0px;
                    }
                    a {
                        img {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
    .info-geral {
        width: 660px;
        .avaliacao {
            display: flex;
            align-items: center;
            margin-bottom: 11px;
            ul {
                display: flex;
                margin-right: 14px;
                
                li {
                    margin-left: 10px;
                    &:first-child {
                        margin-left: 0px;
                    }
                    span {
                        font-size: 20px;
                        color: #DCDDE3;
                        &.yellow {
                            color: $laranja;
                        }
                    }
                }
            }
            span {
                font-size: 13px;
                line-height: 16px;
                color: #646981;
            }
        }
        .tipo-compra-normal {
            max-width: 517px;
            .valores-gerais {
                margin-bottom: 27px;
                .valor-parcela {
                    margin-bottom: 15px;
                    strong {
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 22px;
                        color: #646981;
                    }
                    p {
                        margin: 0;
                        font-size: 18px;
                        line-height: 22px;
                        color: #646981;
                        strong {
                            font-weight: bold;
                            font-size: 20px;
                            color: #FF9D2E;
                            
                        }
                    }
                }
                .valor-total {
                    h3 {
                        font-size: 18px;
                        line-height: 22px;
                        color: #646981;
                        font-weight: 400;
                        strong {
                            font-weight: bold;
                            font-size: 32px;
                            color: #0D71F0;
                        }
                    }
                }
            }
        }
        h2 {
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            color: #363843;
            margin-bottom: 17px;
            max-width: 614px;
        }
        h3 {
            font-weight: 600;
            font-size: 40px;
            line-height: 48px;
            color: #0D71F0;
            margin: 4px 0px;
        }
        span {
            font-size: 14px;
            line-height: 17px;
            color: #646981;
        }
        p {
            font-size: 14px;
            line-height: 17px;
            color: #646981;
            margin-top: 8px;
            margin-bottom: 25px;
            strong {
                font-size: 14px;
                line-height: 17px;
                color: #646981;
                font-weight: bold;
            }
            span {
                color: #6BB70B;
            }
        }
        .btn-continuar {
            width: 100%;
            height: 64px;
            background-color: #6BB70B;
            border-radius: 8px;
            @include elemento_no_centro(row);
            font: normal 600 18px/22px 'Inter';
            text-transform: uppercase;
            color: #FFFFFF;
            transition: all .3s;
            &:hover {
                background-color: #60a00e;
                transition: all .3s;
            }
            img {
                margin-right: 10px;
            }
        }
        .botao-parcelamento {
            display: flex;
            align-items: center;
            background-color: transparent;
            border-bottom: 1px solid #EFEFEF;
            width: 100%;
            margin-top: 27px;
            padding-bottom: 18px;
            margin-bottom: 21px;
            img {
                margin-right: 16px;
            }
            span {
                font-size: 14px;
                line-height: 17px;
                color: #646981;
            }
        }
        .frete {
            .title {
                display: flex;
                align-items: center;
                margin-bottom: 19px;
                img {
                    margin-right: 15px;
                }
            }
        }
    }
    .descricao-produto {
        width: 100%;
        border-top: 1px solid #F0F0F0;
        padding-top: 47px;
        margin-top: 49px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .texto {
            max-width: 596px;
            h3 {
                font-weight: bold;
                font-size: 24px;
                line-height: 37px;
                color: #24262D;
                margin-bottom: 24px;
            }
            p {
                font-size: 15px;
                line-height: 24px;
                color: #646981;
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
            button {
                font-weight: 600;
                font-size: 15px;
                line-height: 18px;
                color: #0D71F0;
                margin-top: 48px;
            }
        }
        .react-player__preview {
            background: url("../images/bg-video.jpg") no-repeat center center !important;
            border-radius: 5px;
            overflow: hidden;
            .react-player__play-icon {
                border-color: transparent transparent transparent red !important;
            }
        }
    }
    @media(max-width: 1200px) {
        .container {
            flex-direction: column;
            align-items: center;
        }
        .area-slide-prod {
            margin-right: 0;
            width: 100%;
            margin-bottom: 50px;
            .box {
                width: 100%;
                .slick-list {
                    width: 100%;
                }
                .slick-dots {
                    li {
                        width: 25%;
                        height: auto;
                    }
                }
            }
        }
        .info-geral {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                text-align: center;
            }
        }
        .descricao-produto {
            flex-direction: column;
            align-items: center;
            .texto {
                max-width: 100%;
                margin-bottom: 50px;
                h3 {
                    text-align: center;
                }
                p {
                    text-align: center;
                    line-height: 30px;
                }
                button {
                    width: 100%;
                }
            }
        }
    }
    @media(max-width: 480px) {
        .slick-slide {
            img {
                width: 80% !important;
            }
        }
        .area-slide-prod {
            .box {
                .slick-list {
                    padding: 40px 0px;
                    height: auto;
                }
            }
        }
        .info-geral {
            h2 {
                font-size: 20px;
                line-height: 30px;
            }
        }
        .descricao-produto {
            margin-top: 40px;
            padding-top: 40px;
            .texto {
                margin-bottom: 30px;
                h3 {
                    font-size: 20px;
                    line-height: 1;
                    margin-bottom: 15px;
                }
                p {
                    font-size: 14px;
                    line-height: 22px;
                    margin-bottom: 15px;
                }
                button {
                    margin-top: 20px;
                }
            }
            .video-descricao {
                width: 100% !important;
                height: 250px !important;
            }
        }
        .container {
            &:last-child {
                padding: 0px;
            }
        }
    }
}